banglanltk==0.0.4
bnlp_toolkit==4.0.3
huggingface_hub==0.24.6
lightgbm==4.5.0
matplotlib==3.7.2
numpy==1.25.2
pandas==2.2.2
scikit_learn==1.4.0
seaborn==0.13.2
tensorflow==2.10.0
torch==2.4.1
transformers==4.44.2
xgboost==1.7.6
